.header__email{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 5px;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  
@media screen and (min-width: 630px ) {
  .header__email {
    font-size: 18px;
    line-height: 22px;
  }
}