.button_type_add {
  width: 282px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: url(../../../images/add.svg) center no-repeat;
}

@media screen and (min-width: 650px) {
  .button_type_add {
    width: 150px;
    background-size: 22px;
  }
}
