.button_type_close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  background: url(../../../images/close.svg) center no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 650px ) {
  .button_type_close {
    width: 32px;
    height: 32px;
    top: -39px;
    right: -40px;

  }
}
