.form__input {
  display: block;
  box-sizing: border-box;
  padding: 9px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}


